body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.vh-95 {
  height: 95vh !important;
}
.chat-height {
  height: calc(100%-20vh) !important;
}

.chat_window {
  z-index: 100;
  height: 100%;
  overflow: hidden;
}
.chat_message_left,
.chat_message_right {
  display: flex;
  flex-shrink: 0;
}
.chat_message_right {
  margin-left: auto;
}
.chat_message_left {
  margin-right: auto;
  flex-direction: row-reverse;
}

.chat_input {
  position: sticky;
  bottom: 0;
}

.styles_scrollable-div_prSCv {
  max-width: calc(100% -2px) !important;
  height: calc(100% -2px) !important;
  overflow-y: auto;
}
